.nav-header {
  background-color: rgba(52, 52, 52, 1);
  .nav-header__wrap {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-header__list {
      display: flex;
      width: 60%;
      justify-content: space-between;
      li {
        cursor: pointer;
        color: white;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 900;
        &:first-child {
          color: rgba(224, 0, 2, 1);
        }
        &:hover {
          color: rgba(224, 0, 2, 1);
        }
      }
    }
  }
}
